*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    background-image: url(/images/pattern-curve.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 60%;
    
}

.hero{
    min-height: 100vh;
    /* background-color: salmon; */
    width: 100%;
    padding:0 5%;
    display: flex;
    align-items: center;
}

.testimonies-wrapper{
    /* background-color: turquoise; */
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.testimonie{
    /* background-color: springgreen; */
    display: grid;
    gap: 1em;
    justify-items: center;
}

.testimonie__visual{
    background-image: url(/images/pattern-bg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: steelblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10%;
    width: 90%;
}

.testimonie__image-wrapper{
    width: 100%;   
}

.testimonie__image{
    width: 100%;
    height: 100%;
}

.testimonie__buttons{
    background-color: rgb(255, 255, 255);
    width: 25%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

.testimonie__button{
    width: 10px;
}

.button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}


.testimonie__info{
    /* background-color: teal; */
    text-align: center;
    background-image: url(/images/pattern-quotes.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70px;
}

.testimonie__text{
    padding-top: 35px;
    font-size: 1.8rem;
    color: hsl(240, 38%, 20%);
    font-weight: 300;
}

.testimonie__name{
    font-size: 1.4em;
    margin-top: 1em;
    font-weight: 700;
    color: hsl(240, 38%, 20%);
}

.testimonie__job{
    font-size: 1.2em;
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}

@media screen and (min-width:1024px){
    
    body{
        background-size: 30%;
    
    }

    .testimonies-wrapper{
        /* background-color: turquoise; */
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .testimonie{
        /* background-color: springgreen; */
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        grid-template-areas: "description visual";
        gap: 0;
    }
    
    .testimonie__visual{
        /* background-color: steelblue; */
        padding: 11%;
        width: 100%;
        grid-area: visual;
    }
    
    .testimonie__buttons{
        width: 7em;
        padding: 1em;
        position: absolute;
        bottom: 8%;
        left: 20%;
    }

    .testimonie__info{
        /* background-color: salmon; */
        background-position-x: 28%;
        background-position-y: 29%;
        background-size: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        grid-area: description;
        padding-left: 12%;
        margin-right: -22%;
        z-index: 99;
    }
    
    .testimonie__text{
        padding-top: 12%;
        font-size: 3rem;
    }

    .testimonie__person{
        display: flex;
        align-items: center;
        margin-top: 2.5em;
    }
    
    .testimonie__name{
        font-size: 1.6rem;
        margin: 0;
        margin-right:.5em;
    }
    
    .testimonie__job{
        font-size: 1.4rem;
    }
    
    
}